{% extends "base.html" %}
{% block content %}
    <div class="container">
        <!-- Content here -->
        <h1>新規登録画面</h1>
        <form method="POST">
            <label for="title" class="form-label">タイトル</label>
            <input type="text" name="title" class="form-control">
            <label for="url" class="form-label">URL</label>
            <input type="text" name="url" class="form-control">
            <label for="body" class="form-label">プログラム</label>
            <textarea name="body" class="form-control" cols="100" rows="20"></textarea>
            <input class="btn btn-primary" type="submit" value="新規登録">
        </form>
    </div>
{% endblock %}