{% extends "base.html" %}
{% block content %}
    <div class="container">
        <!-- Content here -->
        <h1>ソースコード記録メモアプリ</h1>
        <a class="btn btn-primary" href="/create" role="button">新規作成画面</a>
        {% for post in posts[::-1] %}
        <article>
            <h2>{{ post.title }}</h2>
            <a class="btn btn-primary" href="/{{post.id}}/update" role="button">編集</a>
            <a class="btn btn-primary" href="/{{post.id}}/delete" role="button">削除</a>
            <span class="border">
                <p>URL : {{ post.url }}</p>
            </span>>
            <span class="border">
                <p>作成日時 : {{ post.created_at }}</p>
            </span>>
            <span class="border">
                <pre>
                <code>
                    <p>{{ post.body }}</p>
                </code>
                </pre>
            </span>
        </article>
        {% endfor %}
    </div>
{% endblock %}