{% extends "bootstrap/base.html" %}
{% block title %}サインアップページ{% endblock %}

{% block content %}
    <div class="container">
        <!-- Content here -->
        <h1>ユーザ登録</h1>
        <form method="POST">
            <div class="mb-3">
                <label for="" class="form-label">ユーザ名</label>
                <input type="text" name="user_name" class="form-control">
            </div>
            <div class="mb-3">
                <label for="" class="form-label">パスワード</label>
                <input type="password" name="password" class="form-control">
            </div>
            <input class="btn btn-primary" type="submit" value="新規登録">
            <a class="btn btn-primary" href="/login" role="button">ログイン画面へ</a>
        </form>
    </div>
{% endblock %}